.example-contents {
	margin: 1em 2em;
}

.example-jbo {
	font-weight: bold;
}

.example-gloss {
	font-style: italic;
}

.example-translation {}


/* The following styles are slightly modified versions of the original leipzig.css */

.gloss--glossed:after {
	clear: left;
	content: "";
	display: block;
}
ul.gloss--glossed,
ol.gloss--glossed {
	padding-left: 0;
}
ul.gloss--glossed li,
ol.gloss--glossed li {
	list-style-type: none;
}
.gloss__abbr {
	font-variant: small-caps;
	font-variant-numeric: oldstyle-nums;
	text-transform: lowercase;
}
.gloss__word {
	float: left;
	margin-bottom: 1em;
	margin-right: 1em;
}
.gloss__word p {
	margin: 0;
}
.gloss--no-space .gloss__word {
	margin-right: 0;
}
.gloss--no-space .gloss__word.gloss__word--spacer {
	margin-right: 1.5em;
}
.gloss__words:first-child,
.gloss--glossed li:first-child {
	margin-top: 1em;
}
.gloss--glossed li:last-child {
	margin-bottom: 1em;
}
.gloss__word .gloss__line:first-child {
	font-weight: bold;
}
.gloss__line--original {
	font-weight: bold;
	margin-bottom: 1em;
}
.gloss__line--free,
.gloss__line--no-align {
	clear: left;
}
.gloss__line--hidden {
	display: none;
}

.gloss__line--0 {
	font-weight: bold;
}
.gloss__line--1 {
	font-style: italic;
}
.gloss__line--0,
.gloss__line--1 {
	padding-right: 0.5em;
	border-right: 1px dotted black;
}
