.example-contents {}

.example-jbo,
.example-jbo-substring {
	font-weight: bold;
	font-style: normal;
}

.example-gloss {
	font-style: italic;
}

.example-jbo-substring,
.example-gloss-substring {
	border-right: 1px dotted;
	hyphens: none;
	padding: 0 0.4em;
	white-space: nowrap;
}

.example-jbo-substring:last-child,
.example-gloss-substring:last-child {
	border: none;
}

.example-translation {}
