## Intro

// Acknowledge existing search engine comparisons, and why I felt like I needed to do my own study.

[This](http://www.comparedandreviewed.com/search-engines) is probably the most
detailed review I've ever seen, and still it's mostly about which features a
search engine may or may not have. The quality of regular web searches are
reduced only to a single numerical rating, on a 5-star scale, with no mention of
testing methods and no nuance. *How* are the search engines better or worse than
each other?

Or, this [tech review of Bing](http://www.pcworld.com/article/165652/hands_on_with_microsoft_bing.html)
from back when it was new focuses on the available features, rather than the
quality of the sorting algorithm which generates the search results list. And
then there's all the listicles and infographics from "SEO gurus" that mostly
just talk about
[market share](https://www.searchenginejournal.com/comparison-of-the-top-three-search-engines-bingyahoo-google-infographic/34109/),
or ways to get your website to rank highly on all the major search engines ---
an even less useful comparison for end-users.

[This](https://www.entrepreneur.com/article/224639) article talks about the
search query used to compare Google and Bing, but apparently only did one test.

[Bluebugle](http://www.bluebugle.org/google-bing-blekko-duckduckgo-comparison/)
did a study that's the closest to the methods I would find acceptable; however,
some of the test queries were pulled from Google search tools, which I think
biases those rounds in Google's favor, their tests for synonyms wasn't very
good, and the number of search engines being compared was rather limited,
including the now defunct Blekko. Their idea to assign half points to partially
relevant information influenced my own research methods, though, so good on them
for that idea.

This is a pilot study...



## Methods


Some search engines give you some options for how to sort or display search
results. I left everything at their default settings. Searx, for example, you
can choose which upstream search engines to use; they have a fairly substantial
selection to choose from, but trying to decide which is the ultimate collection
of engines to cross-reference could be its own complicated study, so I left this
alone too. To be clear, Searx has multiple publicly usable instances; I used
searx.me, as that seems to be the most popular... LIST_OF_DEFAULT_SEARX_ENGINES

I also did all this from a private-mode browser window, so the search engines
wouldn't inherit cookies or logins from my regular browsing sessions. Google may
or may not have recognized me anyway through various browser fingerprinting
techniques...

Immediately after beginning the search process, I felt like I needed to also
include a more qualitative assessment, so I'll include notes as seems
appropriate.

I only considered the first page of results --- so, 10 search results.
DuckDuckGo by default shows more than 10, and then lazy-loads more as you scroll
down; I only looked at the first 10 results, to keep things consistent with the
other search engines. Qwant has subcategories of search you can focus on; I only
looked at Web search results. I also ignored any ads disguised to appear as
search results at the top or bottom of the list.



## Short, broad queries

Search results must:

1. be relevant --- that is, they must actually include all the search terms.
   This is so simple, but you may be surprised how often search engines fail
   this simple test.
2. not be empty or obviously broken.
3. not duplicate previous entries in the results list.
4. be in English.

I hesitated to add criterion number 4 because that seemed at first like it
showed too much American bias --- but I'm using the English version of these web
services because that's my native language, and I think it reasonable to assume
most users would prefer to see search results in their native language. So.

Any of these three counts as a point against that search engine. Also, listed
pages which are not empty but which do not contain much meaningful content will
count as half a point.

I admit I did not settle on this criteria until after the first query. My
preliminary findings in this first study will hopefully make follow-up studies
more rigorous. I also do not try to decide whether all the search engine's
listed pages are *useful* beyond the criteria described above, as that seems
more subjective.



### Andrew Toskin

DuckDuckGo, Google, and StartPage show “Did you mean andrew tonkin?” at the top
of page. They show the correct results for "Toskin" anyway, though.

DuckDuckGo, not all of the first 10 results actually had anything to do with me,
but all of them did match the name "Andrew Toskin" so I didn't fault them for
that. Like, the very first result was my LinkedIn profile. The second was some
other Andrew Toskin's Facebook profile. Curiously, it showed
[my LinkedIn profile](https://www.linkedin.com/in/andrewtoskin/)
*twice*, in the first and fourth slots. The second instance appears to be the
exact same profile page, but
[partly machine-translated into German](https://www.linkedin.com/in/andrewtoskin/de).
I count this as a point.

Ixquick, all results match *me* as opposed to my doppelganger. Is this a point
in favor of Ixquick, or against it? The fourth slot, I think, was supposed to be
an index of a subset of works I've uploaded to the Internet Archive, but the URL
parameters are broken or something, so the page is basically empty; I counted
this as an "irrelevant" result because it was broken. Slots 8 and 9 were only
tangentially related, because they were lists of users that had "starred" some
projects on GitHub, rather than being any content by or about me; I count these
as half a point each.

StartPage shows a few blogs (World Literature Today, Psychology Today, and
Tasting Table) that have borrowed photos I released under a Creative Commons
license. These blogs credit me by name, but the first two do not provide a link
back to the source; not pertinent to this query golf tourney, but an interesting
finding in a vanity search. The 10th slot reveals a single short comment I
posted, among a bunch of other posts and comments, on a cartoonist's Tapas
profile: half a point.

Qwant showed a similar selection of pages as DuckDuckGo --- with my LinkedIn and
my doppelganger's Facebook profiles in slots 1 and 2, again --- but the other
results match me.

Searx unearthed yet another Andrew Toskin on Facebook. It did comparatively
poorly, though: Slots 3, 6, 8, and 10 did not mention either of the 2 search
terms "Andrew" or "Toskin" at all. Slot 3 was about cricket player "Taskin
Ahmed" which is at least spelled similarly, but the others weren't even close.

Bing included a few thumbnails for the suggested image search, showing photos
I've taken and posted on Flickr. Correct/relevant, and possibly helpful, but
doesn't fit into the idea of query golf, so I note it here but don't factor it
into the scores. The trend of putting my LinkedIn and andrew.toskin.1's Facebook
profiles at the top continues. Like DuckDuckGo, the fourth slot was the partial
German machine translation of my LinkedIn profile (a point), which seemed
suspicious until I remembered DuckDuckGo sources some of their web-crawling data
from Bing. Differences appear after that, though, and the last search result was
wrong: A list of Minecraft skins by Andrew Hussie; the page mentions "Andrew" a
few times, and "skin," but never "Toskin."

Google also recommended a few thumbnails from their image search, most taken
from the icons that go with links from my blogfolio to my various social media
profiles --- less helpful than Bing's thumbnails, since I did not actually
create most of those images, they're just icons for social/blogging platforms I
use. Slot 9 was a link to my YouTube profile, but I have never uploaded any
videos or written in any public information other than allowed Google to use my
real name after it bugged me about it enough times after the acquisition... So
this page is basically empty... I'm counting this one as a fail. At least the
"star gazers" on GitHub linked by Ixquick above had other users in a list; I
feel like that context provides more meaningful information than a profile page
that contains literally nothing other than my name.

Yahoo also offers a ribbon of thumbnails of photos I've taken. Slot 7 goes to
the page of Minecraft skins by Andrew Hussie mentioned above, so that was one
point against them here. Slot 8 goes to a MyLife profile, apparently filled with
information scraped from public records; what information I could see was all
out of date, and I think you have to pay to see more, but still it was creepy to
discover that sites like this explicitly exist to collate your personal data for
others to see... But, y'know, it's a relevant search result, I guess.

Yandex offers ribbon of thumbnails for the recommended image search *and* video
search. The videos don't actually match the query, showing "Andrew Henderson"
and "Andrew Serkin" and so on, but since I didn't count suggested alternate
search types in Bing, Google, or Yahoo, I won't count these video searches
against Yandex. I do give points for slots 5 and 6, though, because while they
do match my actual Vimeo and Patreon profile pages, I've never uploaded any
content or written a bio or anything for my accounts on those sites, so the
profile pages are basically empty.


### Vienna Teng

DuckDuckGo puts her official site (viennateng.com), the Wikipedia article, and
LastFM profile in the top 3 slots. There's also a card on the side that shows a
brief bio, thumbnail portrait, and other information, scraped from Wikipedia.
Slots 4 and 10 are both YouTube, the channel and her latest official music video
respectively.

Ixquick shows the official site (and marks it as such with a red label), her
YouTube channel, and Amazon page for her latest album in the top 3 slots. They
also show a card of information scraped from Wikipedia, though there's no image.
Curiously, slots 5 and 7 are both the exact same Twitter profile, but the 7th is
the HTTPS version of the URL (that's a point). Slot 9 is an academic.ru page
that seems to be mostly an out-of-date copy of the English Wikipedia article.
Academic's articles aren't *always* like this, though, and trying to decide how
useful particular listed search results are would probably be better done in
some kind of double-blind group study; for now I will continue to focus on the
results' *relevance*.

StartPage shows the official site, Wikipedia article, and YouTube channel in top
3 slots. Slots 6 and 7 are both Bandcamp pages, the latest album and the artist
profile respectively.

Qwant's top 3 slots go to the official domain, Wikipedia article, and Facebook
profile. Slot 9 is another page from her official site, listing upcoming
concerts.

Searx's top 3 slots go to the Wikipedia article, the official domain, and the
YouTube channel. Slots 6 and 7 single out specific songs on YouTube; funny that
these are old, while the other search engines tended to focus on her latest
album or latest single. Slot 8 was for a tennis tour in the *city* of Vienna,
and slot 10 was a HuffPo article about men's eyebrow grooming --- brilliant
groundbreaking journalism, clearly, but neither "Vienna" nor "Teng" were
mentioned anywhere in the page, which makes me wonder how this made it into the
search results. If you look beyond the first 10 search results, you do see more
stuff about the singer-songwriter again, so it's not like the Searx had run out
of relevant entries in their web-crawling index.

Bing's top 3 slots go to the official domain, the Wikipedia article, and the
LastFM profile. However, as someone who doesn't regularly use Bing, there's a
surprising amount of nifty extra stuff here: Under the official domain, Bing
shows a small grid listing some likely pages you might want to visit on the
website --- Shows, Videos, Contact, etc --- so you don't necessarily have to
start from the front page. In the middle of the search results is a ribbon of
video thumbnails for the equivalent Bing video search (not counted in the first
10 slots, but interesting). The card on the side of the page has a snippet of
her Wikipedia bio, but also icons linking to her social/blogging sites, plus a
list of some of her more popular songs, and a list of her albums.

Google's top 3 slots go to the official domain, the Wikipedia article, and the
YouTube channel. Slots 6 and 7 are both Bandcamp, the latest album and the
artist profile respectively; I find it interesting how many times this has
happened... Google's info card shows thumbnail portraits, icons linking to
different media silos (like Spotify and Pandora), brief Wikipedia bio, a short
list of some of her popular songs, social/blogging icons, and a list of her
albums.

Yahoo's top 3 slots go to the official domain, the Twitter profile, and
Wikipedia article. Interestingly, they don't show more than one result from the
same domain, as the others have done. Is this a good or bad thing...? Hard to
say. Under the official domain, Yahoo shows a small table of specific pages you
might want to visit on Vienna Teng's website. There are ribbons of thumbnails
for both suggested equivalent image and video searches. The info card on the
right has a bigger image from one of Vienna's promotional photo shoots, brief
Wikipedia bio, icons for her social media profiles, and a row of thumbnails each
for her albums and for "related artists." How related these other artists are is
maybe debatable.

Yandex's top 3 slots go to the official domain, the YouTube channel, and
Wikipedia article. Even though I'm using the English-language version of Yandex,
their search results maybe still show a small Russian skew: Like Ixquick, Yandex
also lists the academic.ru page in slot 7; the page contents are all in English,
but the preview snippet appears to be German, so I'm going to call this half a
point? And slot 10 is MegaLyrics, a Russian website for transcribing song
lyrics, though the actual song titles and lyrics are still in English --- so, I
guess, another half point. Yandex also of course included a ribbon of thumbnails
for the recommended equivalent image and video search. Do they do this for
*everything*? It would explain why they included irrelevant results when looking
up myself: I've never uploaded any video, and neither have any of my
doppelgangers, it seems.

Image and video search are worthy of a more specialized study, so I won't
mention these anymore for now.


### Neil Gaiman

DuckDuckGo's top 3 slots go to Neil Gaiman's official domain, his Twitter
profile, and his IMDb entry. Slots 5 and 9 are both Amazon, an author profile
and a regular search in the books category, respectively.

Ixquick's top 3 are the official domain, Wikipedia article, and Twitter profile.
Slot 6 is Gaiman's blog, a subdomain of neilgaiman.com. Subdomains are widely
treated as separate, even unrelated, websites --- consider the fact that every
Tumblr user gets their own subdomain --- I just thought the relationship between
Gaiman's "home page" and his blog made this interesting. Slot 7 is his Tumblr,
another blog, though seemingly less formal than journal.neilgaiman.com. Slots 9
and 10 are both the exact same Guardian article, a transcription of a talk he
gave about libraries, but slot 10 uses the HTTPS version of the URL (so that's a
point).

StartPage's top 3 are official domain, Wikipedia article, and author profile on
Amazon. There are no repeated domains in the search results --- is this a good
thing or a bad thing? I'm growing increasingly curious about this phenomenon...

Qwant's top 3 are the official domain, the Wikipedia article, and the Amazon
profile. Slot 5 is another page on the official domain listing his published
works. Slot 6 is the "journal" subdomain. Slot 7 brings up the Amazon Books
search for Neil Gaiman again.

Searx's top 3 are the official domain, Wikipedia article, and Amazon profile ---
funny how often these exact same pages are appearing in the exact same spots.
Slots 4 and 5 are the journal subdomain and the neilgaiman.com page listing his
published works, respectively. Slot 9 is the Wikipedia article again but using
the mobile subdomain; the exact same content, formatted for smaller screens.
That's a point.

Bing's top 3 are the official domain, and articles by Thrillist and Radio Times.
This is a little odd, though, because what I would normally call slots 2 through
4 in this layout are part of the recommended equivalent search on Bing News; if
I omitted these, the way I have omitted the selection of pages arranged in a
table under the official domain, as well as the common ribbon of thumbnails for
the equivalent image and video search, then there would only be 7 listed
results. The Bing News insert is laid out similarly enough to the rest of the
search results, and each entry links directly to the described web page rather
than leading to the alternate search type, so I'm counting these as normal. But
again, it's a little odd, and another example of why quantifying this sort of
thing is hard.

Google's top 3 are the official domain, Wikipedia article, and Twitter profile.
All results are relevant, and don't show multiple pages from the same domain (in
the top 10). Interestingly, under the Twitter profile are cards showing recent
tweets, and the ribbon of thumbnails this time are for articles on news sites
rather than suggested image or video search.

Yahoo's top 3 are the official domain, Twitter profile, and a Guardian article
about the television adaptation of his novel American Gods. Curiously, Yahoo's
newsy "top stories" insert --- which I have decided to count as normal search
results, since the layout is similar, like I did for Bing --- did not seem to
count for Yahoo's search page generation algorithm, because there are actually
more than 10 entries on the first page of results.

Yandex's top 3 are the official domain, Wikipedia article, and IMDb entry.
Yandex also avoided multiple entries from the same domain, though there were two
listed sites both about collecting pithy quotes: Wikiquote and BrainyQuote,
slots 4 and 7 respectively.


### Robin Williams

This one tripped up most search engines at least a little bit. Robin Williams
died in August 2014, and in the years since then, his social media profiles
lapsed into inactivity and then closed down --- but most search engines still
list links for these now empty web pages. The links are now only useful for the
fact that they give you a specific URL to look up in the Internet Archive's
Wayback Machine. Also, it's a little sad to me that three years later, the
search results, across the board, is still dominated by reports of his death
rather than his life and work. George Carlin died in 2008, but a Google search
only showed one obituary in the first ten results. So it just got me wondering,
how long until his life story takes over his death story?

DuckDuckGo's top 3: robinwilliams.com (broken), Wikipedia article, and IMDb
profile. Curiously, the preview snippet for that first result shows (what looks
to me like) French text, but loads a blank page. I inspected the HTML source,
and found a frame element pointing to robinwilliams51.tumblr.com --- a blog that
no longer exists, and has not been active in a while
[according to the latest snapshot](https://web.archive.org/web/20160826035501/http://robinwilliams51.tumblr.com/)
on the Internet Archive's Wayback Machine. Slot 4 was the Twitter profile, which
has since been "suspended" (another point). Slot 5 was a Facebook account that
has also been deleted (another point). Slot 6 is IMDb again, but a biography,
rather than the usual filmography list.

Ixquick's top 3: robinwilliams.com (still broken), IMDb profile, and Wikipedia
article.

StartPage's top 3: Wikipedia article, IMDb profile, and Hollywood Reporter
article about Williams's suicide.

Qwant's top 3: robinwilliams.com, Wikipedia article, and CNN article about how
his wife says dementia was more responsible than depression for Williams's
suicide.

Searx's top 3: Wikipedia article, IMDb profile, and robinwilliams.com. Slot 4
was the IMDb biography.

Bing's top 3: robinwilliams.com, Wikipedia article, and IMDb profile. Slot 4 was
the suspended Twitter profile (another point). Slot 8 was the deleted Facebook
profile (another point). Slot 9 was the IMDb biography.

Google's top 3: Wikipedia article, IMDb profile, Hollywood Reporter article.
Slot 10 was another, older Hollywood Reporter article, whose headline only says
Williams died of "suspected" suicide.

Yahoo's top 3: An MSN article about a chair dedicated to Robin Williams at USC,
an LA Times article about the bombing of a Thai hospital(?!), and a Huffington
Post article a boy who had a <cite>Mrs Doubtfire</cite>-themed birthday party.
These first three entries are suggestions from the related Yahoo News search,
but since they link directly to the articles instead taking you to another
search page, I'm counting these like I did for the Bing search results for "Neil
Gaiman." The Thai hospital bombing article does not mention "Robin" or
"Williams" at all (a point). The birthday party article is more about the boy
and his cute party than about Robin Williams himself --- but it's obviously
super important journalism (thanks, HuffPo!), and does meet my minimal initial
criteria. I want to take a deeper look at this sort of not-very-useful search
results in a follow-up study. Slot 4 is robinwilliams.com (a point). Slot 7 is
the deleted Twitter profile (another point). Slot 8 is the deleted Facebook
profile (another point).

Yandex's top 3: IMDb profile, Wikipedia article, Wikiquote page. Slots 7 and 9
are TV Tropes and the Disney Wikia project, respectively, which I thought
interesting; Ixquick was the only other one to put TV Tropes in its top 10, and
they others didn't use Wikia at all in their first page of results. Is this a
good thing or a bad thing? Well, at least it's not yet another death
announcement.


### Telltale Games

DuckDuckGo's top 3: the official domain, Twitter profile, and Wikipedia article.
Slot 7 was a CNET page listing, rating, and linking to some of Telltale's latest
games, which was surprising to me. Till now I'd mostly known CNET as a place to
download freeware, but this page rated the games on a 5-star scale, linked to a
fuller review, and pointed you to where you could *buy* the games from Telltale
itself. Slot 10 was another page from the official domain, sorting their games
by franchise, since most of Telltale's games are story-driven serials released
in "episodes" and "seasons."

Ixquick's top 3: the official domain, the official domain again (HTTPS version
--- a duplicate, so that's a point), and Wikipedia article. Slot 4 is the
Facebook page, which is in English, but the preview snippet was in Russian for
some reason... Facebook is recognizable, and the page was actually relevant,
though, so I guess I'll call this half a point? Slot 6 was Wikipedia again
but the Russian version of the article (another point). Slots 8 and 9 were both
Steam web store pages, the publisher profile and a page for Game Of Thrones, one
of their latest video game adaptations.

StartPage's top 3: the official domain, Wikipedia article, and Twitter profile.
No domains appeared more than once on the first page.

Qwant's top 3: the official domain, Wikipedia article about the studio, and
Wikipedia article about the Walking Dead, probably Telltale's most well-known
game series. Slot 9 is the official Telltale page sorting their games by
franchise.

Searx's top 3: the official domain, the Steam Store publisher profile, and
Wikipedia article. Slot 5 is the Steam page for Telltale's Game Of Thrones.
Slots 4 and 6 are trailers for two of Telltale's newest games, based on
<cite>Guardians Of the Galaxy</cite> and <cite>Minecraft</cite> respectively.
Slot 10 was a Wikipedia "disambiguation" page for the word "telltale." Since the
only part completely relevant part of this page is a link to the article on
Telltale Games itself, I'm going to call this a point for duplicate results.

Bing's top 3: the official domain, Twitter profile, and Wikipedia article. No
duplicate domains. Slot 10 was the list of CNET reviews.

Google's top 3: the official domain, Twitter profile, and Wikipedia article. No
duplicate domains.

Yahoo's top 3: the official domain, Twitter profile, and Wikipedia article. Slot
7 was the CNET reviews. Slot 10 was the official Telltale page of franchises.

Yandex's top 3: the official domain, English Wikipedia article, and Russian
Wikipedia article (a point). Slot 5, Yandex also showed the preview snippet in
Russian for the English-language Facebook profile: I'll call this half a point
since the actual page is in English.  Slot 10 went to a Russian adult game, not
at all affiliated with Telltale Games (so another point).


### <cite>System Shock 2</cite>

This one seemed to have been a tricky one. The video game, first released in
1999, is pretty old by today's standards, and does not have an official website.
Interestingly, I might have expected the fan-made websites with
official-sounding web domains to have been falsely tagged as the official
domain, but none of the search engines made this mistake; some did put one of
those fan-made sites in the number one slot, but sshock2.com is pretty thorough,
and seems reasonble to me, lacking a more official web resource. No, instead the
common issue was displaying results for "System Shock" instead of "System Shock
*2*"...

DuckDuckGo's top 3: the Wikipedia article, Steam store page, and Gamespot game
profile with links to news and reviews. Slots 6 and 8 might seem almost like
official domains, but aren't: Slot 6, systemshock.com, is a domain owned by
Nightdive Studios, who ran a successful Kickstarter campaign to reboot the first
<cite>System Shock</cite> game (so this counts as a point). Slot 8, sshock2.com,
is a fan-made site for tips and walkthroughs and occasional news --- but
fan-made walkthroughs were helpful when I played the game, and this search
result correctly matches the sequel rather than the original game, so it's good.

Ixquick's top 3: fan-made sshock2.com, Wikipedia article, and GOG store page.
Slot 6 was the Russian version of the Wikipedia article (a point). Slot 9 was
the GOG store page again; it was a slightly different URL, but redirects to the
same page as slot 3 (another point).

StartPage's top 3: sshock2.com, Wikipedia article, and Steam store page. Slots 9
and 10 are both Amazon store pages, for slightly different editions of the game,
the latter having a gold bar across the bottom of the box that says "Classics"
and was apparently released a year after the original release (1999). Amazon
lists different blurbs in the product descriptions, but it's otherwise not clear
to me that there are other meaningful differences here, so it seems peculiar to
me to have these so close together in the top 10, but I'm hesitant to mark this
down as a total *duplicate*... Maybe half a point.

Qwant's top 3: the Wikipedia article, Steam store page, and Wikipedia article
for the first <cite>System Shock</cite> (a point). Other top 10 results look
fine.

Searx's top 3: the Wikipedia article, an article from The Hill about how Trump
leaving NAFTA would be a "shock to the system" (a point), and sshock2.com. Slot
4 is a Wikipedia article about the Bretton Woods system of monetary management
(another point). Slot 5 is the GOG home page, which may have featured
<cite>System Shock 2</cite> at some point, but it did not at the time of this
query (so, another point). Slot 7 is a web shop product page for a PowerSeries
Control Panel (another point). Slot 9 is a Wikipedia article about the *Solar
System*.

Bing's top 3: the Wikipedia article, IGN game profile, and Steam store page.
Slot 8 was Nightdive Studio's systemshock.com for the reboot of the first game
(a point).

Google's top 3: sshock2.com, Wikipedia article, and Steam store page. Slots 8
and 9 were the only slightly different editions of the game on Amazon, like on
StartPage (so half a point).

Yahoo's top 3: Wikipedia article, Steam store page, and Gamespot game profile.
Slot 5 was a Wikipedia article for <cite>System Shock 1</cite> (a point). Slot 7
was the reboot of the first game (another point).

Yandex's top 3: the English Wikipedia article, the Russian Wikipedia article (a
point), and sshock2.com. Slot 6, systemshock.org, was another domain name that
might have seemed "official", but is actually a forum about modding the game
(not a point, just interesting). Unlike systemshock.com, this actually matches
the sequel. Slot 10 seems relevant, but is all in Russian (so that's another
point).



//- TODO: Remove all unnecessary user-tracking JavaScript and things from the static copies of the search pages.
